<include src="./carousellItem.html"
    elementPhoto="./assets/images/reinaRoja.jpeg"
    elementAlt="Imagen del libro Reina Roja de Juan Gómez Jurado"
    elementName="Reina Roja"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/lobaNegra.jpeg"
    elementAlt="Imagen del libro Loba negra de Juan Gómez Jurado"
    elementName="Loba Negra"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/reyBlanco.jpeg"
    elementAlt="Imagen del libro Rey blanco de Juan Gómez Jurado"
    elementName="Rey Blanco"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/todoArde.jpeg"
    elementAlt="Imagen del libro Todo Arde de Juan Gómez Jurado"
    elementName="Todo Arde"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/todoVuelve.jpeg"
    elementAlt="Imagen del libro Todo vuelve de Juan Gómez Jurado"
    elementName="Todo vuelve"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/elpaciente.png"
    elementAlt="Imagen del libro El paciente de Juan Gómez Jurado"
    elementName="El paciente"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/cicatriz.png"
    elementAlt="Imagen del libro Cicatriz de Juan Gómez Jurado"
    elementName="Cicatriz"
    ></include>