<section class="carousel">
    <div class="container">
        <div class="content">
            <div>
                <h1>Nombre del juego</h1>
                <span>Info secundaria</span>
            </div>
        </div>
        <div class="content">
            <div>
                <h1>Nombre del juego</h1>
                <span>Info secundaria</span>
            </div>
        </div>
        <div class="content">
            <div>
                <h1>Nombre del juego</h1>
                <span>Info secundaria</span>
            </div>
        </div>
        <div class="content">
            <div>
                <h1>Nombre del juego</h1>
                <span>Info secundaria</span>
            </div>
        </div>
    </div>
</section>