<include src="./carousellItem.html"
    elementPhoto="./assets/images/spiderman1.jpeg"
    elementAlt="Imagen de la película Spiderman HomeComming"
    elementName="Spiderman HomeComming"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/spiderman2.jpeg"
    elementAlt="Imagen de la película Spiderman far from Home"
    elementName="Spiderman:Far from Home"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/spiderman3.jpeg"
    elementAlt="Imagen de la película Spiderman no way home"
    elementName="Spiderman:No way home"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/canta1.jpeg"
    elementAlt="Imagen de la película Canta"
    elementName="Canta"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/canta2.jpeg"
    elementAlt="Imagen de la película Canta2"
    elementName="canta 2"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/malefica.jpeg"
    elementAlt="Imagen de la película Maléfica"
    elementName="Maléfica"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/harry1.jpeg"
    elementAlt="Imagen de la película Harry Potter y la piedra filosofal"
    elementName="Harry Potter y la piedra filosofal"
    ></include>