    <h1>@@navName</h1>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/animalcrossing.png"
    elementAlt="Imagen del juego Animal crossing"
    elementName="Animal Crossing"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/marioodisey.png"
    elementAlt="Imagen del juego Mario Odisey"
    elementName="Mario Odisey"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/pokemon.png"
    elementAlt="Imagen del juego Pokemon sword"
    elementName="Pokemon sword"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/zelda.png"
    elementAlt="Imagen del juego zelda"
    elementName="zelda"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/kirby.jpeg"
    elementAlt="Imagen del juego Kirby"
    elementName="Kirby"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/dreamlightvalley.png"
    elementAlt="Imagen del juego dreamlightvalley"
    elementName="zelda"
    ></include>
    <include src="./carousellItem.html"
    elementPhoto="./assets/images/mariowonder.jpeg"
    elementAlt="Imagen del juego zelda"
    elementName="zelda"
    ></include>
