//function Rem

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}

//font

$titleFont: 'Poppins', sans-serif;
$textFont: 'Gloria Hallelujah', cursive;
$font-face: 'Fjalla One';
$font-size: 14pt;

//background
html{
  background-image: url('../images/fondo1.jpg');
}

//Mixins

@mixin display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin carousel{
  display: flex;
  flex-direction: row;
}

//colors

$fontColor:white;
$form-shadow: #32175C;
$formShadowfocus: #95A4FF;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;
$colorfondo:#ffa580;
$backgroundForm:#f8f4e5;
$colorINput: #0A2059;
$colorBlack: rgba(0,0,0,1);



