.nav{
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    &__link{
        list-style: none;
        text-decoration: none;
        color: $fontColor;
        font-family: $titleFont;
        font-size: rem(20);
    }
}
